<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chefd.mealprep.mealprep">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ziont"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BMI_Calculator_Activity"
            android:label="@string/title_activity_bmi_screen_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BreakfastActivity"
            android:label="@string/title_activity_breakfast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Protein_Activity" />
        <activity android:name=".Carbs_Acitivity" />
        <activity android:name=".Vegetables_Activity" />
        <activity
            android:name=".CaloriesActivity"
            android:label="@string/title_activity_calories"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chefd.mealprep.mealprep.MainActivity" />
        </activity>
    </application>

</manifest>